language: java

jdk:
  - openjdk11

services:
  - postgresql

matrix:
  include:
    - addons:
        postgresql: 9.4
    - addons:
        postgresql: 9.6
script:
  - psql -U postgres -d postgres -q -a -f ./schemas/1.31/default_schema.sql > log.txt
  - export HOST_IP_ADDRESS="$(/sbin/ip route|awk '/default/ { print $3 }')"
  - gradle build
  - gradle flywayBaseline
  - gradle flywayInfo
  - gradle flywayMigrate
  - gradle flywayInfo
