language: java

jdk:
  - oraclejdk8

services:
  - postgresql

addons:
  postgresql: "9.2"
  postgresql: "9.6"

script:
  - psql -U postgres -d postgres -q -a -f ./chado/schemas/1.31/default_schema.sql > log.txt
  - export HOST_IP_ADDRESS="$(/sbin/ip route|awk '/default/ { print $3 }')"
  - gradle build
  - gradle flywayBaseline
  - gradle flywayInfo
  - gradle flywayMigrate
  - gradle flywayInfo
