package Chado::LoadDBI;

use strict;
use lib '[% chado_path %]/lib';
use Chado::AutoDBI;

sub init
{
  Chado::DBI->set_db('Main',
    "dbi:[% db_driver %]:dbname=[% db_name %];[% IF db_port %]port=[% db_port %];[% END %]host=[% db_host %]", 
    "[% db_username %]",
    "[% db_password %]",
    {
      AutoCommit => 0
    }
  );
}

1;
