
h1 { 
  font-family:verdana, arial, sans-serif;
  color:#000;
  font-size:medium;

}

h2 { 
  font-family:verdana, arial, sans-serif;
  color:#000;
  font-size:medium;
  margin-top: 8px;
  margin-bottom: 8px;
}

h3 { 
  font-family:verdana, arial, sans-serif;
  color:#000;
  font-size:medium;
  margin: 16px;
}

#abstract { 
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 10%;
  width: 80%;
  border-style: solid ;
  border-width: 1px;
  background-color: #aaaaff;
  padding: 16px;
}

.summary { 
  margin: 32px;
  width: 50%;
  border-style: solid ;
  border-width: 1px;
  background-color: #aaaaff;
  padding: 8px;
}

.description { 
  margin: 16px;
  border-style: dotted none dotted ;
  border-width: 1px;
}

.example { 
  margin: 16px;
  padding: 0px 16px 0px;
  background-color: #dddddd;
  border-style: dotted ;
  border-width: 1px;
}

.support { 
  margin: 16px;
  border-style: dashed ;
  border-width: 1px;
}

.id { 
  font-family:verdana, arial, sans-serif;
  color:#000;
  font-size:medium;
  margin: 0px;
}

.date { 
  color:#f00;
}

.code pre  { 
  color:#008;
  margin-left:20px;
  padding:8px;
  background:#ccf;
  border:1px dotted #00f;
}

.output pre  { 
  color:#080;
  margin-left:20px;
  padding:8px;
  background:#ccf;
  border:1px dotted #00f;
}

.status { 
  left-margin:18px;
  color:#800;
  padding:4px;
}

.metadata { 
  font-size:10px;
}

.scenario { 
  margin: 16px;
  padding: 16px;
  border-style: solid none none ;
  border-width: 1px;
}

#scenarios { 
  font-family:verdana, arial, sans-serif;
  color:#000;
  font-size:small;
  padding: 8px;
  margin-top: 32px;
}

.footer {
  width:100%;
  background:#FFF;
  border-width:1;
  background:#ffffff;
  padding:5px;
  font-size:tiny;
}

.title {
  font-family:verdana, arial;
  font-size:small;
  color:#000;
  text-transform:uppercase;
  font-weight:bold;
}

.comment td { 
  font-size: small;
}

.parts table
{	width: 100%;
	border: 1;
	background: #ddd;
}

.parts th { 
  border-width: 1px;
  text-align: left;
  border-style: none none solid;
}
.parts td { 
  border-width: 1px;
  text-align: left;
  font-size: 10pt;
  border-style: none none solid;
}


#index table
{	width: 100%;
	border: 0;
	background: #ccc;
}

#index table a
{	font-weight: bold;
}

#index td { 
  border-color: #ff0000;
  color: black;
  border-style: none none solid ;
  border-width: 1px;
  text-align: left;
  font-size: 10pt;
  padding-top: 1px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 1px;
}

.tab td
{	font-size: 12px;
	text-align: left;
	padding: 3px;
}

.tab th
{	font-size: 14px;
	text-align: center;
	background: #fff;
	border-width: 3px 0 3px 0;
	border-style: solid;
	border-color: #366;
}

.tab th a
{	display: block;
	padding: 3px;
}

.tab th a:hover
{	color: #fff;
	background: #366;
}

.tab td.tableOne
{	background-color: #add; }

.tab td.tableTwo
{ background-color: #bee; }
